{% extends 'main/base.html' %}

{% block title %}
Вакансії
{% endblock %}

{% block content %}

<h1>Обраний</h1>

 {% if book %}

<div class="alert alert-secondary mt-1">
    <h3><u>{{book.title }}</u></h3>
    <p><b><i>{{ book.author }}</i></b></p>
    <p><i>{{ book.text }}</i></p>
    <p>Кількість: {{ book.count }}</p>
    <p><b>Рік видання: {{ book.published }}</b></p>
    <p><b>Зареєстровано: {{ book.created }}</b></p>
</div>


{% else %}
     <p>В даному каталозі запис відсутній. </p>
{% endif %}

{% endblock %}
