{% extends 'main/base.html' %}

{% block title %}
Створити запис
{% endblock %}

{% block content %}

<h1>Створити запис вакансії.</h1>

<form method="post">
 {% csrf_token %}
    <label for="title"><b>Назва вакансії</b></label>
    {{ form.title }}
    <label for="author"><b>Автор вакансій</b></label>
    {{ form.author }}
    <label for="text"><b>Короткий опис вакансії</b></label>
    {{ form.text }}
    <label for="published"><b>Рік видання</b></label>
    {{ form.published }}
    <label for="count"><b>Кількість вакансій</b></label>
    {{ form.count }}
    <button type="submit" class="btn btn-success">Створити вакансію</button>

</form>

{% endblock %}
