{% extends 'main/base.html' %}

{% block title %}
Work
{% endblock %}

{% block content %}

<h1>Каталог вакансій від роботодавців регіону</h1>

 {% if books %}
 {% for el in books %}

<div class="alert alert-primary mt-1">
    <h3><u>{{ el.title }}</u></h3>
    <p><b><i>{{ el.author }}</i></b></p>
    <p><i>{{ el.text }}</i></p>
    <p>Кількість: {{ el.count }}</p>
    <p><b>Видано: {{ el.published }}</b></p>
    <p><b>Зареєстровано: {{ el.created }}</b></p>
</div>
{% endfor %}

{% else %}
     <p>В даному каталозі записи відсутні. </p>
{% endif %}

{% endblock %}
